@page
@model WebApp.Pages.PizzaToppings.IndexModel

@{
    ViewData["Title"] = "Pizza toppings";
}

<h1>Pizza toppings</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PizzaTopping[0].Pizza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PizzaTopping[0].Topping)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PizzaTopping) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pizza!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topping!.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
